<!DOCTYPE html>
<html lang="en">
<title>Linkedin Login JavaScript Example</title>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript">
    let authenCode = null;

//    Access the current url and get the Authorization  code
    function getParamByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    window.addEventListener('load', function() {

        if (getParamByName("code")) {
            authenCode =  getParamByName("code");
            console.log('code: ', authenCode);

            $.ajax({
                type: "POST",
                //retrieve the access token  using the authorization code
                url: "/controller/tokenAccessing",
                data: { 'code': authenCode },
                success: function(response) {
                    if (response) {
                        //load the user data displaying ui
                        const url = 'http://localhost:3000/app/data';

                        window.location.replace(url);
                    }
                },
                error: function () {
                }
            });
        }
    })

</script>
<script src="common/jquery/jquery-3.2.1.min.js"></script>
<body>
    <h1>Loading...</h1>
</body>
</html>